body {
  position: relative;
}

.side-left {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  background-color: burlywood;
  height: 100%;
  overflow-y: scroll;

  .logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 0;

    &-img {
      width: 4rem;
      height: 4rem;
    }

    h1 {
      padding-bottom: 0;
      font-size: 2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .library-stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 2rem;
    width: 100%;
    background-color: wheat;

    .stat {
      text-transform: uppercase;
      padding: 0.6rem 0;

      span {
        color: blue;
        font-weight: bold;
      }
    }

    .btn-clear-all {
      display: block;
      width: auto;
      margin-top: 0.3rem;
      padding: 1.5rem;
      background-color: firebrick;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }
}

main {
  width: calc(100% - 350px);
  margin-left: 350px;
  padding: 1.5rem;

  .library-empty {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 85%;
    height: 50vh;
    margin: auto;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    color: grey;
  }
}
