.table-div {
  width: 100%;
  .table {
    .td-author {
      font-style: italic;
    }

    .trash {
      color: firebrick;
      cursor: pointer;
    }

    .fa-check {
      color: green;
      cursor: pointer;
    }

    .fa-times {
      cursor: pointer;
    }
  }
}
