body {
  position: relative;
}

.side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  background-color: burlywood;
  height: 100%;
  overflow-y: scroll;
}

.side-left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.side-left .logo-img {
  width: 4rem;
  height: 4rem;
}

.side-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 1rem;
}

.side-left form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.7rem;
  font-size: 1rem;
}

.side-left form label input[type="text"],
.side-left form label input[type="number"] {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.side-left form .label-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-left form .label-read input {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.side-left form button {
  width: 80px;
  height: 40px;
  background-color: blue;
  color: white;
  outline: 0;
  border: 0;
}

.side-left .library-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 2rem;
  width: 100%;
  background-color: wheat;
}

.side-left .library-stats .stat {
  text-transform: uppercase;
  padding: 0.6rem 0;
}

.side-left .library-stats .stat span {
  color: blue;
  font-weight: bold;
}

.side-left .library-stats .btn-clear-all {
  display: block;
  width: auto;
  margin-top: 0.3rem;
  padding: 1.5rem;
  background-color: firebrick;
  color: white;
  font-weight: bold;
  text-align: center;
}

main {
  width: calc(100% - 350px);
  margin-left: 350px;
  padding: 1.5rem;
}

main .library-empty {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  height: 50vh;
  margin: auto;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  color: grey;
}

.table {
  display: block;
  width: 85%;
  margin: 0 auto;
  overflow-y: scroll;
}

.table table {
  width: 100%;
  font-size: 1.2rem;
  border-collapse: collapse;
}

.table table td,
.table table th {
  border: 1px solid #b3b3b3;
}

.table table th {
  background-color: black;
  color: white;
  text-align: left;
  padding: 0.5rem 1rem;
}

.table table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table table td {
  padding: 0.2rem 0;
  padding-left: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.table table .td-author {
  color: blue;
  font-style: italic;
}

.table table .trash {
  color: firebrick;
}

.table table .fa-check {
  color: green;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */